.name {
  margin: 25px;
  margin-right: 40px;
}

.navigation{
  display: flex;
  list-style: none;
}

.nav-button{
  margin-right: 20px;
}

#search_input{
    width: 300px;
}

.search-field {
  display: flex;
  margin-left: 400px;
}

#search_button {
  margin-left: 10px;
  margin-right: 10px;
}
